.back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    background: white;
    border-radius: 5px;
}

*{
    overflow: hidden;
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}

