nav{
    display: flex;
    justify-content: space-between;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    padding: 0.5rem;
    position: fixed;
    background: white;
    width:100%;
    font-size: 25px;
    border-bottom: solid 1px #EAEDE1;
    box-shadow: 0 0 20px 0;
    z-index: 2;
}

*{
    margin:0;
    padding:0;
}

.menu-block{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}

.menu-block:hover{
    color: white;
}

.menu-voices{
    display: flex;
    align-items: center;
}

.home-container{
    width: 100%;
    display: flex;
    margin-top:2rem;
    font-family: 'Libertinus Mono', sans-serif;
}

.main-image-setting{
    width: 335px;
    height: 335px;
    border-radius: 50%;
    margin:auto;
    margin-left: 1rem;
    box-shadow: 6px 7px 14px -8px black;
}

.description{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding:0.5rem;
    font-size: 16px;
    text-align: justify;
    background-color: #EAEDE1;
    box-shadow: 6px 7px 14px -8px black;
}

.personal-info{
    border: solid #EAEDE1;
    border-radius: 10px;
    padding:0.5rem;
    font-size: 16px;
    margin-top:0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#jumbo-category-esperienze{
    font-weight: bold;
    font-size: 40px;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#slider{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img_slider{
    width:100%;
}
#img_slider img{
    width:100%;
    height: 80vh;
    display: none;
}
#img_slider img:nth-child(1){
    display:block;
}
#slider button{
    width: 40px;
    height: 40px;
    border:solid #E4E6DC 2px;
    outline:none;
    color: #E4E6DC;
    cursor: pointer;
    background: none;
    border-radius: 25px;
    font-size:40px;
    transition: all 0.1s ease-in-out;
}

.alfasigma-logo{
    width:250px;
    height:80px;
}

.wassermann-logo{
    width:200px;
    height:80px;
}

.h3g-logo{
    width:180px;
    height:80px;
}

.millward-logo{
    width:265px;
    height:80px;
}

.esperienze-logo{
    display:flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.toggleDiv {
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.toggleDiv.visible {
    display: block;
}

.toggleDiv2 {
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.toggleDiv2.visible {
    display: block;
}

.toggleDiv3 {
    display: none;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.toggleDiv3.visible {
    display: block;
}

#toggleBtn3 {
    cursor: pointer;
}

.toggleDiv4 {
    display: none;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.toggleDiv4.visible {
    display: block;
}

#toggleBtn4 {
    cursor: pointer;
}

.mov-btn{
    position: absolute;
    top:45%;
    left: 5%;
    width:90%;
    display: flex;
    justify-content: space-between;
}

.mov-btn button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#slider button:hover{
    transform:scale(1.05);
}
#slider button:active{
    transform:scale(0.95);
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}

.jumbo-text{
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.jumbo-name{
    font-weight: bold;
    font-size: 40px;
}

.jumbo-description{
    font-size: 20px;
}

.jumbo-title{
    font-family: 'Libertinus Mono', sans-serif;
    text-align: center;
}

#jumbo-category{
    font-weight: bold;
    font-size: 40px;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
}

.titles{
    text-align: left;
    font-weight: bold;
}

.corpo{
    text-align: justify;
    padding-bottom: 0.5rem;  
}

.present{
    border: solid #EAEDE1;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.present-formazione{
    border: solid #EAEDE1;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.jumbo-title-formazione{
    font-family: 'Libertinus Mono', sans-serif;
    text-align: center;
}

#jumbo-category-formazione{
    font-weight: bold;
    font-size: 40px;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    padding-bottom:0.5rem;
}

a:link { 
    text-decoration: none; 
}

a{
    color: black;
}

.icon{
    width: 30px;
    height: 30px;
    padding-top: 10px
}

button{
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    background: #E4E6DC;
    border-radius: 5px;
}

.slide-btn{
    position:absolute;
    top: 45%;
    left: 5%;
    width:90%;
    display: flex;
    justify-content: space-between;
}

.slide-btn button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: #E4E6DC;
    font-weight: bold;
    background:none;
    color: #E4E6DC;
    cursor:pointer;
}

.alfasigma{
    border-right: solid;
    border-color: #E4E6DC;
    width: 25%;
    padding-right: 0.5rem;
}

.wassermann{
    border-right: solid;
    border-color: #E4E6DC;
    padding-left: 0.5rem;
    width: 25%;
    padding-right: 0.5rem;
}

.h3g{
    border-right: solid;
    border-color: #E4E6DC;
    padding-left: 0.5rem;
    width: 25%;
    padding-right: 0.5rem;
}

.millward{
    padding-left: 0.5rem;
    width: 25%;
    padding-right: 0.5rem;
}

#toggleButton, #toggleButton2, #toggleBtn3, #toggleBtn4{
    height: 40px;
    width:80px;
}

@media (max-width: 768px) {
    
    #toggleButton, #toggleButton2, #toggleBtn3, #toggleBtn4{
        height: 20px;
        width:150px;
    }

    #predefinedDiv{
        position: absolute;
        top: 3490px;
        left: 195px;
        transform: translate(-50%, -50%);
        width: 314px;
        height: 2200px;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 5px;
        font-family: 'JetBrains Mono', sans-serif;
        font-family: 'JetBrains Mono NL', sans-serif;
        font-size: 12px;
    }

    #predefinedDiv2{
        position: absolute;
        top: 3030px;
        left: 195px;
        transform: translate(-50%, -50%);
        width: 314px;
        height: 430px;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 5px;
        font-family: 'JetBrains Mono', sans-serif;
        font-family: 'JetBrains Mono NL', sans-serif;
        font-size: 12px;
    }


    .home-container{
        display: block;
    }
    
    #jumbo-category-esperienze{
        font-weight: bold;
        font-size: 26px;
        font-family: 'JetBrains Mono', sans-serif;
        font-family: 'JetBrains Mono NL', sans-serif;
        padding-bottom:0.5rem;
    }

    #jumbo-category-formazione{
        font-weight: bold;
        font-size: 26px;
        font-family: 'JetBrains Mono', sans-serif;
        font-family: 'JetBrains Mono NL', sans-serif;
        padding-bottom:0.5rem;
    }
    
    .jumbo-name{
        font-weight: bold;
        font-size: 35px;
    }

    .jumbo-description{
        font-size: 15px;
    }

    nav{
        font-size: 12px;
        margin:0;
    }

    .menu-voices{
        display: flex;
        align-items: center;
    }

    .menu-block{
        width: 97px;
        padding:0;
        margin:0;
        text-align: center;
    }

    .logo{
        align-items: center;
    }

    button{
        margin-right: 5px;
        font-size: 12px;
    }

    .jumbo-description{
        padding-left:1rem;
        padding-right:1rem;
    }

    #jumbo-category{
        padding-top: 5rem;
    }

    .esperienze-logo{
        display:block;
        padding-top: 1rem;
    }

    .main-image{
        text-align: center;
    }

    .main-image-setting{
        margin-left: 0;
    }

    .alfasigma-logo{
        width:60%;
        height:80px;
    }

    .wassermann-logo{
        width:60%;
        padding: 0;
        margin:0;
    }

    .h3g-logo{
        width:60%;
        padding-left:0;
        padding-right: 0;
    }

    .millward-logo{
        width:100%;
    }

    .present{
        display:block;
    }

    .alfasigma{
    border-right: none;
    width: 100%;
    padding-right: 0;
   }

    .wassermann{
    border-right: none;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
    margin:0;
   }

   .h3g{
    border-right: none;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
   }

   .millward{
    padding-left: 0;
    width: 100%;
    padding-right: 0;
   }
}

@media (min-width: 769px) and (max-width: 821px) {

    .home-container{
        display: block;
    }

    #toggleBtn, #toggleBtn2, #toggleBtn3, #toggleBtn4{
        height: 20px;
        width: 200px;
    }

    #jumbo-category-esperienze{
        font-weight: bold;
        font-size: 40px;
        font-family: 'JetBrains Mono', sans-serif;
        font-family: 'JetBrains Mono NL', sans-serif;
    }

    nav{
        font-size: 20px;
        margin:0;
    }

    .menu-block{
        display: inline-flex;
        text-align: center;
    }

    .menu-voices{
        display: flex;
        align-items: center;
    }

    .main-image{
        text-align: center;
    }

    .present{
        display:block;
    }

    .alfasigma{
        border-right: none;
        width: 100%;
       }
    
        .wassermann{
        border-right: none;
        padding-left: 0;
        width: 100%;
        padding-right: 0.5rem;
       }
    
       .h3g{
        border-right: none;
        padding-left: 0;
        width: 100%;
        padding-right: 0.5rem;
       }
    
       .millward{
        padding-left: 0;
        width: 100%;
        padding-right: 0;
       }

    .esperienze-logo{
        display:block;
    }

    .alfasigma-logo{
        width:60%;
        height:80px;
        padding-left:15%;
        padding-right: 15%;
    }

    .wassermann-logo{
        width:60%;
        padding-left:15%;
        padding-right: 15%;
        padding-top: 1rem;
    }

    .h3g-logo{
        width:50%;
        padding-left:20%;
        padding-right: 20%;
        padding-top: 1rem;
    }

    .millward-logo{
        width:60%;
        padding-left:15%;
        padding-right: 15%;
        padding-top: 1rem;
    }
}

