*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-family: 'JetBrains Mono NL', sans-serif;
    box-sizing: border-box;
    font-display: swap;
}

nav{
    display: flex;
    position: absolute;
    width: 100%;
    font-size: 20px;
    z-index: 2;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 70px;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
    color: white;
}

p{
    margin-top: 0.5rem;
}

.form-btn{
    height: 25px;
    width: 50px;
    cursor: pointer;
    background-color: #d6b98e;
}

.contact-me-container .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.contact-me-container .input-container #message, .contact-me-container .input-container #email, .contact-me-container .input-container #name {
    margin-bottom: 0.5rem;
    width: 17rem;
    background-color: #d6b98e;
    border: none;
    border-bottom: 1px solid #d6b98e;
    outline: none;
    padding: 0.3rem 0.2rem;
    transition: border-color 0.35s ease-out;
}

.contact-me-container .input-container #name {
    font-size: 1.2rem;
}

.contact-me-container .input-container #name:focus {
    border-color: #d6b98e;
}

.contact-me-container .input-container #email {
    font-size: 1.2rem;
}

.contact-me-container .input-container #email:focus {
    border-color: #d6b98e;
}

.contact-me-container .input-container #message {
    font-size: 1rem;
}

.contact-me-container .input-container #message:focus {
    border-color: #d6b98e;
}

.present-contact-me{
    border: solid #d6b98e;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    display: block;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #11252e;
}

.toggleDiv, .toggleDiv2, .toggleDiv3, .toggleDiv4{
    text-align: left;
}

.menu-block{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-size: 18px;
    color: white;
}

.menu-voices{
    display: flex;
    align-items: center;
}

.menu-block a{
    color: white;
    font-weight: 1000;
}

.home-container{
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.main-image-setting{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: auto;
    margin-left: 1rem;
    box-shadow: 6px 7px 14px -8px black;
}

.description{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding:0.5rem;
    font-size: 16px;
    background-color: #EAEDE1;
    box-shadow: 6px 7px 14px -8px black;
}

#slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_slider{
    width:100%;
}

#img_slider img{
    width: 100%;
    height: 80vh;
    display: none;
}

#img_slider img:nth-child(1){
    display: block;
}

#slider button{
    width: 40px;
    height: 40px;
    border: solid white 2px;
    outline: none;
    color: white;
    cursor: pointer;
    background: none;
    border-radius: 25px;
    font-size: 40px;
    transition: all 0.1s ease-in-out;
}

.video-setting{
    width: 100%;
}

.alfasigma-logo{
    width:300px;
    height:80px;
}

.wassermann-logo{
    width:300px;
    height:80px;
}

.h3g-logo{
    width:150px;
    height:50px;
}

.millward-logo{
    width:350px;
    height:80px;
}

.esperienze-logo{
    display:flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.formazione-icon{
    width: 22px;
    height: 22px;
}

.toggleDiv {
    margin: 5px;
    padding: 5px;
    display: none;
}

.toggleDiv.visible {
    display: block;
}

.toggleDiv2 {
    margin: 5px;
    padding: 5px;
    display: none;
}

.toggleDiv2.visible {
    display: block;
}

.toggleDiv3 {
    display: none;
    margin: 5px;
    padding: 5px;
}

.toggleDiv3.visible {
    display: block;
}

.toggleDiv4 {
    display: none;
    margin: 5px;
    padding: 5px;
}

.toggleDiv4.visible {
    display: block;
}

.mov-btn{
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.mov-btn button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#slider button:hover{
    transform:scale(1.05);
}

#slider button:active{
    transform:scale(0.95);
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}

a img:hover{
    transform:scale(1.20);
}

a img:active{
    transform:scale(1.20);
}

.menu-block a:hover {
    text-decoration: underline;
}

.jumbo-text{
    margin-left: 1rem;
}

.jumbo-name{
    font-weight: bold;
    font-size: 40px;
}

.jumbo-description{
    font-size: 20px;
}

.jumbo-title{
    text-align: center;
    font-size: 20px;
}

#jumbo-category{
    font-weight: bold;
    font-size: 40px;
}

.titles{
    text-align: left;
    font-weight: 1000;
}

.formazione-titles{
    text-align: left;
    font-weight: 1000;
    color: #B31312;
}

.corpo{
    padding-bottom: 0.5rem;
    text-align:left; 
}

.present{
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.present-formazione{
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.jumbo-title-formazione{
    text-align: center;
    background-color: #d6b98e;
    padding-top: 0.5rem;
    font-size: 20px;
}

#jumbo-category-contact{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

a:link { 
    text-decoration: none; 
}

a{
    color: black;
}

.icon{
    width: 48px;
    height: 48px;
    padding-top: 10px;
}

button{
    background: #E4E6DC;
    border-radius: 5px;
}

.slide-btn{
    position:absolute;
    top: 45%;
    left: 5%;
    width:90%;
    display: flex;
    justify-content: space-between;
}

.slide-btn button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: #E4E6DC;
    font-weight: bold;
    background:none;
    color: #E4E6DC;
    cursor:pointer;
}

.alfasigma{
    width: 100%;
    padding: 0.5rem;
}

.wassermann{
    border-color: #E4E6DC;
    padding-left: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

.h3g{
    border-color: #E4E6DC;
    padding-left: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

.millward{
    border-color: #E4E6DC;
    padding-left: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

#toggleBtn, #toggleBtn2, #toggleBtn3, #toggleBtn4{
    height: 40px;
    width: 80px;
    cursor: pointer;
    background-color: #d6b98e;
}

.link-autore{
    color: white;
}

@media (max-width: 768px) {

    .mov-btn button{
        display: none;
    }
    
    #toggleBtn, #toggleBtn2, #toggleBtn3, #toggleBtn4{
        height: 20px;
        width: 150px;
    }

    #jumbo-category-contact{
        font-size: 25px;
    }

    .credits{
        text-align: center;
    }

    .logo{
        width: 170px;
        height: 50px;
    }

    .mov-btn{
        width: 90%; 
    }

    #img_slider img{
        height: 25vh;
    }

    #predefinedDiv{
        position: absolute;
        top: 3490px;
        left: 195px;
        transform: translate(-50%, -50%);
        width: 314px;
        height: 2200px;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 5px;
        font-size: 12px;
    }

    #predefinedDiv2{
        position: absolute;
        top: 3030px;
        left: 195px;
        transform: translate(-50%, -50%);
        width: 314px;
        height: 430px;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 5px;
        font-size: 12px;
    }

    .home-container{
        display: block;
    }
    
    .jumbo-name{
        font-weight: bold;
        font-size: 35px;
    }

    .jumbo-description{
        font-size: 20px;
        text-align: center;
    }

    nav{
        display: flex;
        position: absolute;
        width: 100%;
        font-size: 10px;
        z-index: 2;
    }

    .menu-voices{
        display: flex;
    }

    .menu-block{
        text-align: center;
        font-size: 10px;
        width: 80px;
        margin: 0;
    }

    .logo{
        align-items: center;
    }

    button{
        margin-right: 5px;
        font-size: 12px;
    }

    .jumbo-description{
        padding-left:1rem;
        padding-right:1rem;
    }

    #jumbo-category{
        padding-top: 5rem;
    }

    .esperienze-logo{
        display:block;
        padding-top: 1rem;
    }

    .main-image{
        text-align: center;
    }

    .main-image-setting{
        margin-left: 0;
    }

    .alfasigma-logo{
        width: 100%;
        height:80px;
    }

    .wassermann-logo{
        width: 100%;
        padding: 0;
        margin:0;
    }

    .h3g-logo{
        width:200px;
        padding-left:0;
        padding-right: 0;
    }

    .millward-logo{
        width:100%;
    }

    .present{
        display:block;
    }

    .alfasigma{
    border-right: none;
    width: 100%;
    padding-right: 0;
   }

    .wassermann{
    border-right: none;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
    margin:0;
   }

   .h3g{
    border-right: none;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
   }

   .millward{
    padding-left: 0;
    width: 100%;
    padding-right: 0;
   }

   .titles{
    font-size: 20px;
   }
}

@media (min-width: 769px) and (max-width: 821px) {

    .home-container{
        display: block;
    }

    .jumbo-text{
        margin-bottom: 1rem;
    }

    #toggleBtn, #toggleBtn2, #toggleBtn3, #toggleBtn4{
        height: 25px;
        width: 170px;
    }

    #jumbo-category-contact{
        font-size: 30px;
    }

    #img_slider img{
        height: 35vh;
    }

    .jumbo-name{
        font-weight: bold;
        font-size: 50px;
        text-align: center;
    }

    .main-image-setting{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
        margin-left: 1rem;
        box-shadow: 6px 7px 14px -8px black;
    }

    nav{
        font-size: 20px;
    }

    .menu-block{
        display: flex;
        text-align: center;
    }

    .menu-voices{
        display: flex;
        align-items: center;
    }

    .main-image{
        text-align: center;
    }

    .present{
        display:block;
    }

    .alfasigma{
        border-right: none;
        width: 100%;
        padding-left: 0;
    }
    
    .wassermann{
        border-right: none;
        padding-left: 0;
        width: 100%;
    }
    
    .h3g{
        border-right: none;
        padding-left: 0;
        width: 100%;
    }
    
    .millward{
        padding-left: 0;
        width: 100%;
    }

    .esperienze-logo{
        display: flex;
        justify-content: space-between;
    }

    .alfasigma-logo{
        width: 500px;
        height: 100px;
    }

    .wassermann-logo{
        width: 500px;
        height: 150px;
    }

    .h3g-logo{
        width: 200px;
        height: 80px;
    }

    .millward-logo{
        width: 500px;
    }

    .jumbo-description{
        text-align: center;
    }
}

